.deletebutton {
    margin: 20px;
    padding: 5px;
    width: fit-content;
    text-decoration: none;
    color: black;
    border: 2px solid red;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.buttonbox{
    text-align: center;
    margin-top: 30px;
}

.deletequestion {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    font-family: 'Quicksand', sans-serif;
}