.sugghidden{
    display: none;
}

.red{
  color: red;
}

.suggshow{
  display: block;
}

.buildButton{
    color: #DBDBDB;
    border: 1px solid #DBDBDB;
    background-color: #37647B;
    padding: 5px;
}

.examplesbutton{
  margin-top: 3px;
}

.eventQueue{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #37647B;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.deleteimage{
  display: flex;
  align-items: center;
}

.link{
  text-decoration: none;
  margin-top: 5px;
  display: block;
  width:fit-content;
}

.truesugg{
  position: fixed;
  z-index: 1;
  width: fit-content; 
  top: 110px;

  height: fit-content;
  overflow: auto; 
  border: 1px solid #DBDBDB;
  background-color: #37647B; 
}

.falsesugg{
  position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.sugg-content {
    list-style-type: none;
    padding: 0;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    color: #DBDBDB;
  }

.sugglast {
  padding-bottom: 8px;
}

.sugg {
    padding-bottom: 8px;
    border-bottom: 1px solid #DBDBDB;
  }

#thinking{
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainBuildDiv{
  border-left: 5px solid #041327;
  border-right: 5px solid #041327;
  background: rgb(212, 232, 253);
  margin-top: 30px;
  padding: 5px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.criteria{
  font-size: smaller;
}